{% extends 'admin/base.html.twig' %}

{% block body %}
    <h2>article list</h2>
    <table>
    <thead>
        <tr>
            <th>id</th>
            <th>title</th>
            <th>created</th>
            <th>enabled</th>
            <th>action</th>
        </tr>
    </thead>
    <tbody>
    {% for article in articleList %}
        <tr>
            <td>{{ article.id }}</td>
            <td>{{ article.title }}</td>
            <td>{{ article.date|date('M j, Y') }}</td>
            <td>{{ article.enabled ? 'true' : 'false' }}</td>
            <td>
                <a href={{ path('adminArticleEdit', {'id': article.id}) }}>edit</a>
                |
                {% if article.enabled %}
                <a href={{ path('adminArticleDisable', {'id': article.id}) }}>disable</a>
                {% else %}
                <a href={{ path('adminArticleEnable', {'id': article.id}) }}>enable</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
